body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.slideshow-container {
  width: 100%;
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.bullets__container {
  display: flex;
  justify-content: center;
}

.slide {
  text-align: center;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 30rem;
  height: 40rem;
}

.caption {
  color: var(--color-text);
  padding: 10px;
  /* position: absolute; */
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: var(--font-size-medium);
}

.caption:hover {
  background-color: rgb(238, 224, 224);
  cursor: pointer;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0 var(--spacing-xlarge);
}

.previous img,
.next img {
  width: 20px;
  height: auto;
}

.previous {
  left: 16px;
}

.next {
  right: 16px;
}

.button__arrows {
  color: white;
  font-size: 2rem;
}

.button__arrows:hover {
  background-color: black;
  opacity: 0.3;
}

.counter {
  margin: 10px 0;
  text-align: center;
  font-size: 16px;
  color: var(--color-text);
}

.bullets {
  bottom: 110px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}

.dot.active {
  background: rgba(255, 255, 255, 1);
}

.slide {
  display: none;
}
.slide.active {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .previous,
  .next {
    padding: 0 var(--spacing-medium);
  }
}

@media screen and (max-width: 500px) {
  .slide img {
    width: 20rem;
    height: 30rem;
  }
}

@media screen and (max-width: 370px) {
  .slide img {
    width: 18rem;
    height: 28rem;
  }
}
@media screen and (max-width: 620px) {
  img {
    width: 50%;
  }
}
